@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    color: #333;
    letter-spacing: 0.32rem;
    background: #fff;
}

:root {
    --small-font-size: 1rem;
    --middle-font-size: 2.4rem;
    --large-font-size: 4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}

@media (width <=1024px) {
    .wrapper {
        max-width: 1024px;
    }

}

.sec-title {
    font-size: var(--middle-font-size);
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    transition: opacity 3s ease .5s;
    opacity: 0;
}

.sec-title.visible {
    opacity: 1;
}

section {
    scroll-margin-top: 220px;
    /* 固定ヘッダーの高さに合わせる */
}

/* -------------------------------------------
header
------------------------------------------- */
#header {
    position: sticky;
    top: 0;
    width: 100%;
    /* margin-bottom: 250px; */
    background: #fff;
    z-index: 10;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease;
}

.gnavi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding-left: 32px;
    font-weight: bold;
    line-height: 1.5;
    white-space: nowrap;
}

.gnavi li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
}

.header-btn {
    height: 100px;
    width: 200px;
    display: flex;
    font-size: 1.2rem;
}

.header-btn a {
    display: block;
}

.access-btn,
.contact-btn {
    height: 100px;
    width: 100px;
    display: grid;
    align-content: center;
    gap: 8px;
    padding: 15px 0;
    border: 1px solid;
    text-align: center;
}

.contact-btn {
    color: #fff;
    background: #01579B;
    border: none;
}

.access-btn img,
.contact-btn img {
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.access-btn div,
.contact-btn div {
    width: calc(100px - 15px -15px);
    text-align: center;
}

/* -------------------------------------------
main
------------------------------------------- */
#main-visual {
    position: relative;
    height: 100vh;
}

/* ----------------------
main-visual
---------------------- */
.mv-relative {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3% 0;
    text-align: center;
    background: no-repeat center center/cover;
}

.site-title {
    display: inline-block;
    padding-bottom: 48px;
    opacity: 0;
    transition: opacity 4s ease 1.5s;
}

.site-title img {
    display: block;
    height: auto;
    width: 600px;
    max-width: 100%;
}

.site-title.visible {
    opacity: 1;
    transition: opacity 4s ease 1.5s;
}

/* ----------------------
concept
---------------------- */
#concept {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    transform: scale(1);
    transition: transform 2s ease;
    /* 縮小時のアニメーション */
}

#concept.shrink {
    transform: scale(0.8);
    /* 縮小率を指定 */
}

#concept .sec-title {
    width: 90%;
    padding: 64px 0 80px;
    color: #fff;
    text-align: center;
    background: #01579B;
    transition: all 2s ease;
    /* タイトルにもスムーズな移動を適用 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 90%;
    margin: -80px auto 0;
    position: relative;
    background: url(img/concept.jpg) left bottom/cover no-repeat;
    overflow: hidden;
    opacity: 0;
    transition: all 3s ease, transform 2s ease;
    /* 縮小時のアニメーション */
}

.container .visible {
    opacity: 1;
}

#concept .concept-text {
    position: absolute;
    padding: 20px;
    max-width: 60%;
    line-height: 1.85;
    text-align: justify;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease 1s;
}

/* ----------------------
category
---------------------- */
#category {
    margin-bottom: 200px;
}

.category-secTitle-Bg {
    width: 90%;
    background: #eee;
    margin-left: auto;
}

#category .sec-title {
    padding: 40px 4%;
    text-align: left;
}

#category .menu {
    width: 80%;
    margin-left: auto;
    margin-right: 5%;
}

.categoryMenu {
    opacity: 0;
    transition: all 1s ease 1s;
}

.categoryMenu.visible {
    opacity: 1;
    transition: all 1s ease 1s;
}

#category .menu li {
    border-bottom: 1px solid;
}

.menu-item:first-child {
    border-top: 1px solid;
}

.menu-title {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    padding: 3% 2rem 3%;
    cursor: pointer;
    transition: all .5s ease;
}

.menu-title h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

.sub-menu-title {
    display: none;
}

.sub-menu-item {
    padding: 3% 4rem 3%;
}

.menu-title-btn {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .6s;
}

.menu-title-btn span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 1px;
    width: 100%;
    background: #000;
    transition: all .3s;
    transform-origin: center;
}

/* 上の線 */
.menu-title-btn span:nth-child(1) {
    top: 50%;
    visibility: hidden;
    /* 中央より少し上に配置 */
}

/* 下の線 */
.menu-title-btn span:nth-child(2) {
    top: 50%;
    /* 中央より少し下に配置 */
}

/* .closeクラスが追加されたときに×に変形 */
.close .menu-title-btn span:nth-child(1) {
    top: 50%;
    /* 中央に配置 */
    visibility: visible;
    transform: translateY(-50%) translateX(-50%) rotate(-270deg);
}

/* -------------------------------------------
footer
------------------------------------------- */
#footer {
    text-align: center;
}

.inner {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 8%;
    margin: 0 auto;
    align-content: center;
}

/* ----------------------
left-info
---------------------- */
.shop {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-info {
    display: grid;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    transition: all 1s;
}

.left-top-info {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    align-content: center;
    background: #ccc;
}

.left-top-info .footer-title {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin-bottom: 24px;
    opacity: 0;
    transition: all 2.5s;
}

.contact-link {
    padding: 6%;
    position: relative;
    font-size: 2.4rem;
    border: 1px solid #000;
}

.left-top-info ul {
    padding: 24px 0;
    margin-bottom: 24px;
}

.left-top-info img {
    width: 100%;
    height: auto;
}

.left-bottom-info {
    position: relative;
    align-content: center;
    padding: 120px 0;
}

.left-bottom-info img {
    vertical-align: bottom;
}

.sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 6%;
    border: 1px solid #000;
}

.sns a {
    display: block;
    height: auto;
    width: 33%;
    max-width: 40px;
}

.left-bottom-info small {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* ----------------------
right-info
---------------------- */
.right-info {
    display: grid;
    width: 65%;
    color: #fff;
    background: #01579B;
    transition: all 1s;
}

.right-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.grid-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 5%;
}

.right-top-info .access {
    position: relative;
    width: 5%;
}

.right-top-info .access p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 2.4rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    /* テキストの改行防止 */
}

.right-top-info .address-area {
    width: 85%;
    padding: 0 3%;
    text-align: left;
    letter-spacing: 0;
}

.right-top-info address {
    width: 70%;
    margin: 0 auto;
    font-style: normal;
}

iframe {
    height: 500px;
    width: 50%;
}

.right-bottom-info {
    align-content: center;
}

.footer-nav {
    display: grid;
    gap: 20px;
    padding: 5% 0;
    font-weight: bold;
    text-align: center;
}

.nav-item ul {
    display: flex;
    justify-content: space-evenly;
}

.company-item ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 8px;
    margin: 0 auto;
    max-width: 800px;
}

/* -------------------------------------------
media query
------------------------------------------- */
@media (width <=1024px) {
    .wrapper {
        width: 100%;
        max-width: 800px;
        padding: 0 5%;
        margin: 0 auto;
    }

    .sec-title {
        font-size: 3.2rem;
        margin-bottom: 40px;
    }

    section {
        scroll-margin-top: 130px;
        /* 固定ヘッダーの高さに合わせる */
    }

    /* ----------------------
nav
---------------------- */
    #nav {
        height: 100px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        color: #000;
        background: #fff;
        border-top: 1px solid #000;
        z-index: 40;
        overflow-y: auto;
        transition: all .6s ease;
    }

    .gnavi {
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 0 5%;
    }

    .gnavi li a {
        padding: 0;
    }

    .header-btn {
        height: 100px;
        width: 100px;
        display: flex;
        font-size: 1.2rem;
    }

    .header-btn a {
        display: block;
        margin: auto 0;
    }

    .access-btn,
    .contact-btn {
        height: 50px;
        width: 50px;
        padding: 15px 0;
    }

    .access-btn img,
    .contact-btn img {
        height: 30px;
        width: 30px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    .access-btn div,
    .contact-btn div {
        display: none;
    }

    /* -------------------------------------------
footer
------------------------------------------- */
    .inner {
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding: 0 5%;
        margin: 0 auto;
        align-content: center;
    }

    /* ----------------------
left-info
---------------------- */
    .shop {
        display: grid;
        height: 100%;
        width: 100%;
    }

    .left-info {
        order: 2;
        display: grid;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .left-top-info {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .left-top-info .footer-title {
        width: 100%;
        max-width: 300px;
        margin-bottom: 0;
    }

    .left-top-info ul {
        padding: 24px 0;
        margin-bottom: 0;
    }

    .left-top-info ul li {
        padding-bottom: 8px;
    }

    .left-top-info img {
        width: 100%;
        height: auto;
    }

    .contact-link {
        width: 60%;
        margin: 0 auto;
        padding: 3%;
        position: relative;
        font-size: 2.4rem;
        border: 1px solid #000;
    }

    .left-bottom-info {
        width: 100%;
        padding: 60px 0 160px;
    }

    .sns {
        width: 60%;
        margin: 0 auto;
        padding: 3%;
    }

    .sns a {
        display: block;
        height: auto;
        width: 33%;
        max-width: 50px;
    }

    .left-bottom-info small {
        width: 100%;
        bottom: 110px;
    }

    /* ----------------------
right-info
---------------------- */
    .right-info {
        width: 100%;
    }

    .right-top-info {
        width: 90%;
        padding: 5% 10% 0;
        padding-bottom: 0;
    }

    .grid-switch {
        display: grid;
        height: 100%;
        padding: 5%;
    }

    .right-top-info .access {
        position: relative;
        width: 100%;
    }

    .right-top-info .access p {
        width: 100%;
        font-size: 2.4rem;
        text-align: left;
        writing-mode: horizontal-tb;
    }

    .right-top-info .address-area {
        width: 100%;
        letter-spacing: 0;
    }

    .right-top-info address {
        width: 100%;
    }

    iframe {
        height: 300px;
        width: 50%;
    }

    .nav-item ul {
        display: none;
    }
}

@media (width <=768px) {
    body {
        font-size: 1.4rem;
    }

    .header-btn {
        height: 100px;
        width: 50px;
        display: grid;
        font-size: 1.2rem;
    }

    .header-btn a {
        display: block;
        margin: auto 0;
    }

    .access-btn,
    .contact-btn {
        height: 50px;
        width: 50px;
        padding: 15px 0;
    }

    .access-btn {
        border-top: none;
    }

    .access-btn img,
    .contact-btn img {
        height: 30px;
        width: 30px;
    }

    #concept {
        margin-bottom: 100px;
    }

    #concept .sec-title {
        padding: 48px 0 64px;
    }

    .container {
        height: 500px;
    }

    #category {
        margin-bottom: 100px;
    }

    .left-top-info img {
        max-width: 200px;
    }

    .contact-link {
        font-size: 1.6rem;
    }

    .right-top-info {
        width: 90%;
        padding: 5% 5% 0;
        padding-bottom: 0;
    }

    .right-top-info .access p {
        font-size: 1.6rem;
    }

    .sns a {
        max-width: 30px;
    }

    iframe {
        height: 250px;
    }
}